.header {
  height: 6em;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  border-bottom: 1px #e0e0e06b solid;
}

.header>app-header-title {
  flex: 0 0 auto;
}
.header>.filter {
  flex: 1 1 auto;
  padding: 1em 0;
  display: flex;
  flex-flow: row nowrap;
}
.header>app-header-view-switch {
  flex: 0 1 auto;
}
.header>app-header-actions {
  flex: 0 1 auto;
}


.filter>mat-form-field{
  width: 100%;
}
