<mat-menu #appMenu="matMenu">
  <button mat-menu-item (click)="onClickImportJSONCollection()">Importar colección JSON</button>
  <button mat-menu-item (click)="onClickExportJSONCollection()">Exportar colección JSON</button>
</mat-menu>
<div class="actions">
  <button type="button" mat-icon-button
    (click)="onClickAdd()"
    title="{{ labelAdd }}">
    <i class="material-icons">add_circle</i>
  </button>
  <button type="button" mat-icon-button
    class="settings"
    title="{{ labelSettings }}"
    [matMenuTriggerFor]="appMenu">
    <i class="material-icons">settings</i>
  </button>
</div>
