<div class="config">
  <button mat-fab type="button" class="btn-add"
    color="warn"
    title="Filtrar"
    (click)="onClickFilters()">
    <i class="material-icons">add</i>
  </button>
  <mat-button-toggle-group class="btn-group-view-mode"
    #viewMode="matButtonToggleGroup">
    <mat-button-toggle value="grid">
      <i class="material-icons">grid_on</i>
    </mat-button-toggle>
    <mat-button-toggle value="list">
      <i class="material-icons">list</i>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <button mat-fab type="button" class="btn-filters"
    color="primary"
    title="Filtrar"
    (click)="onClickFilters()">
    <i class="material-icons">filter_list</i>
  </button>
</div>
